[submodule "PID-Controller"]
	path = PID-Controller
	url = https://github.com/Koun7z/PID-Controller.git
[submodule "CRSF-for-stm32"]
	path = CRSF-for-stm32
	url = https://github.com/Koun7z/CRSF-for-stm32.git
[submodule "MPU6050-stm32-interface"]
	path = MPU6050-stm32-interface
	url = https://github.com/Koun7z/MPU6050-stm32-interface.git
